nav {
    padding: 1.5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-lt-nav a {
    text-decoration: none;
}

.small-title {
    font-size: 1rem;
    font-weight: 900;
    color: var(--secondary-color);
}

.title {
    font-size: 2.6rem;
    font-weight: 600;
    color: var(--primary-color);
}

.home-rt-nav {
    display: flex;
    justify-content: space-evenly;
}

.home-rt-nav li {
    margin: 0rem 1rem;
    list-style: none;
}

.home-rt-nav a {
    font-weight: 800;
    color: rgb(39, 38, 38);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.6rem;
}

.home-rt-nav a:hover {
    color: var(--secondary-color);
}

.home-lt-nav a:hover {
    color: var(--primary-hover);
}

@media screen and (max-width: 600px) {
    nav {
        padding: 1rem;
        display: flex;
    }
    .home-rt-nav a {
        font-size: 1.6rem;
    }
    .home-rt-nav {
        padding: 0 0.2rem 0 6rem;
    }
    .small-title {
        display: flex;
        font-size: 1.5rem;
        font-weight: 800;
    }
}

.fa-github {
    font-size: 2rem;
}