<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css" />
    <link rel="stylesheet" href="./../component.css">
    <title>Sakhi UI</title>
</head>

<body>
    <div class="docs-container">
        <nav>
            <div class="home-lt-nav">
                <a href="./../../index.html" class="title">Sakhi</a>
                <span class="small-title">a friendly tool to your designs...</span>
            </div>
            <ul class="home-rt-nav">
                <li><a href="./../../index.html">Home</a></li>
                <li><a href="./../../documentation/docs.html ">Docs</a></li>
            </ul>
        </nav>
        <!-- list of components in CL-->

        <aside>
            <div class="sakhi-sidebar">
                <div>
                    <h2 class="side-title">Components</h2>
                </div>
                <ul class="sidebar-link">
                    <li class="sidebar-link-item "><a href="./../Avatar/avatar.html ">Avatar</a></li>
                    <li class="sidebar-link-item "><a href="./../Alert/alert.html ">Alert</a></li>
                    <li class="sidebar-link-item "><a href="./../Badge/badge.html ">Badge</a></li>
                    <li class="sidebar-link-item "><a href="./../Button/button.html ">Button</a></li>
                    <li class="sidebar-link-item "><a href="./../Card/card.html ">card</a></li>
                    <li class="sidebar-link-item "><a href="./../Image/image.html ">Image</a></li>
                    <li class="sidebar-link-item "><a href="./../Input/input.html ">Input</a></li>
                </ul>
            </div>
        </aside>

        <main>
            <!-- Image component start from docs -->

            <div class="sakhi-component-container">
                <h1 class="component-heading" id="button">Image</h1>
                <p class="component-desc"> Images can be responsive to fit the parent's width, and also can be customised to be round shaped</p>
                <br />
                <br />
                <br />
                <h2>Responsive image</h2>
                <div class="component-container">
                    <img class="img-responsive" src="./../../Assets/images/img_responsive.jpg" alt="responsive-image">
                </div>
                <div>
                    <iframe src="https://www.thiscodeworks.com/embed/61fbe18f6ab14d0015c32d6e" style="width: 100%; height: 112px;" frameborder="0"></iframe>

                </div>
                <h2>Round image</h2>
                <div class="component-container align-center">
                    <img class="img-round" src="./../../Assets/images/img_round.jpg" alt="round-image">
                </div>
                <div>
                    <iframe src="https://www.thiscodeworks.com/embed/61fbe4446ab14d0015c32d78" style="width: 100%; height: 500px;" frameborder="0"></iframe>
                </div>
            </div>
            <br />
            <hr>
            <br />
        </main>

    </div>

    <script src="./Components/index.js"></script>
</body>

</html>