.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.component-container-text {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0 2rem 0;
    line-height: 2rem;
    border: 0.06rem solid var(--primary-hover);
}

.text-decoration-underline {
    text-decoration: underline;
}

.text-decoration-line-through {
    text-decoration: line-through;
}

.text-decoration-none {
    text-decoration: none;
}

.text-bold-weight {
    font-weight: 700;
}

.text-color-grey {
    color: #808080;
}

.line-space h1,
.line-space h2,
.line-space h3 {
    line-height: 2rem;
}

.line-space h4,
.line-space h5,
.line-space h6 {
    line-height: 1.5rem;
}

.h1-fs {
    font-size: 3rem;
}

.h2-fs {
    font-size: 2.5rem;
}

.h3-fs {
    font-size: 2rem;
}

.h4-fs {
    font-size: 1.5rem;
}

.h5-fs {
    font-size: 1rem;
}

.h6-fs {
    font-size: 0.75rem;
}