.input-label {
    text-align: start;
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--primary-color);
}

.input-label.input-textbox {
    display: inline-block;
    width: 100%;
}

.input-textbox {
    font-weight: bold;
    border-radius: 0.4rem;
    border: 2px solid #2e3333;
    padding: 1rem;
    color: var(--secondary-color);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
}