.input-label {
    text-align: start;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.input-label,
.input-textbox {
    display: inline-block;
    width: 100%;
}

.input-textbox {
    font-weight: bold;
    border-radius: 0.4rem;
    border: 2px solid var(--dark-gray);
    padding: 1rem;
    color: var(--secondary-color);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
}


/* text validate style */

.input-valid-textbox,
.valid-text,
.valid-msg {
    color: var(--primary-color);
}

.input-valid-textbox {
    border: 1px solid var(--primary-color);
}

.input-valid-textbox,
.input-error-textbox {
    font-weight: bold;
    border-radius: 0.4rem;
    padding: 1rem;
}

.valid-msg {
    padding-left: 8rem;
}


/* text error style */

.input-error-textbox,
.error-text,
.error-msg {
    color: var(--error-text-color);
}

.input-error-textbox {
    border: 1px solid var(--error-text-color);
}

.valid-msg,
.error-msg {
    margin-top: -2rem;
    font-size: 1rem;
}

.error-msg {
    padding-left: 14rem;
}