<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css" />
    <link rel="stylesheet" href="/documentation/docs.css">
    <link rel="stylesheet" href="./button.css">
    <title>Button component | Sakhi UI </title>
</head>

<body>
    <div class="docs-container" id="nav-bar">
        <nav>
            <div class="home-lt-nav">
                <a href="./../../index.html" class="title">Sakhi</a>
                <span class="small-title">a friendly tool to your designs...</span>
            </div>
            <ul class="home-rt-nav">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/documentation/docs.html">Docs</a></li>
                <li><a href="https://github.com/Manju-sree/SAKHI_UI"><i class="fab fa-github github-icon-sz"></i></a></li>
            </ul>
        </nav>
        <!-- list of components -->
        <div class="grid-col2">
            <aside>
                <div class="sakhi-sidebar">
                    <div>
                        <h2 class="side-title">Components</h2>
                    </div>
                    <ul class="sidebar-link">
                        <li class="sidebar-link-item "><a href="./../Typography/Typography.html">Typography</a></li>
                        <li class="sidebar-link-item "><a href="./../Avatar/avatar.html ">Avatar</a></li>
                        <li class="sidebar-link-item "><a href="./../Alert/alert.html">Alert</a></li>
                        <li class="sidebar-link-item "><a href="./../Badge/badge.html ">Badge</a></li>
                        <li class="sidebar-link-item "><a href="./../Button/button.html ">Button</a></li>
                        <li class="sidebar-link-item "><a href="./../Card/card.html ">Card</a></li>
                        <li class="sidebar-link-item "><a href="./../Image/image.html ">Image</a></li>
                        <li class="sidebar-link-item "><a href="./../Input/input.html ">Input</a></li>
                        <li class="sidebar-link-item "><a href="./../Lists/lists.html ">Lists</a></li>
                        <li class="sidebar-link-item "><a href="./../Toast/toast.html ">Toast</a></li>
                        <li class="sidebar-link-item "><a href="./../Navigation/navigation.html">Navigation</a></li>
                        <li class="sidebar-link-item "><a href="./../Slider/slider.html ">Slider</a></li>
                        <li class="sidebar-link-item "><a href="./../Rating/rating.html">Rating</a></li>
                        <li class="sidebar-link-item "><a href="./../Modal/modal.html">Modal</a></li>
                        <li class="sidebar-link-item "><a href="./../Grid-Simplified/simplified-grid.html">Simplified Grid</a></li>
                    </ul>
                </div>
            </aside>

            <main>
                <!-- Button component start from docs -->

                <div class="sakhi-component-container">
                    <h1 class="component-heading" id="button">Button</h1>
                    <p class="component-desc"> Buttons are really diverse and can serve plenty of purposes.Buttons are one of the main component in a interactive Web Application. Buttons allow users to take actions with a single tap.</p>
                    <br />
                    <br />
                    <br />
                    <h2>Solid buttons</h2>
                    <div class="component-container">
                        <div class="button-wrapper">
                            <button class="btn primary-button btn-solid">Primary</button>
                            <button class="btn hover-button btn-solid">Hover</button>
                            <button class="btn active-button btn-solid">Active</button>
                            <button class="btn disabled-button btn-solid">Disabled</button>
                        </div>
                    </div>
                    <h2>Link with outline buttons</h2>
                    <div class="component-container">
                        <div class="button-wrapper">
                            <button class="btn primary-link-button btn-outline"><a href="">Click Here!</a></button>
                            <button class="btn secondary-link-button btn-outline"><a href="">Download</a></button>
                        </div>
                    </div>
                    <h2>Button with icons</h2>
                    <div class="component-container">
                        <div class="button-wrapper">

                            <button class="btn primary-button-with-icon">
                            <i class="fas fa-shopping-cart"></i>
                              Add to cart
                        </button>

                            <button class="btn secondary-button-with-icon">
                            <i class="far fa-thumbs-up"></i> Like
                        </button>
                        </div>
                    </div>
                    <h2>Floating Action Button</h2>
                    <div class="component-container">
                        <div class="button-wrapper">
                            <button class="float-btn add-button"> + </button>
                            <button class="float-btn go-up-button"> ^ </button>
                            <button class="float-btn remove-button"> x </button>
                            <button class="float-btn envelope-button"><i class="fas fa-envelope"></i></button>
                        </div>
                    </div>
                    <div class="carbon">
                        <iframe src="https://www.thiscodeworks.com/embed/61f9229f1e1df400153793ec" style="width: 100%; height: 411px;" frameborder="0"></iframe>
                    </div>
                </div>
                <a href="#nav-bar" class="btn-float btn-float-fixed btn-float-size">
                    <i class="fas fa-arrow-up"> </i>
                </a>
                <footer class="footer">
                    <a href="/Components/Badge/badge.html" class="link">Badge</a>
                    <a href="/Components/Card/card.html" class="link">Card</a>
                </footer>
            </main>
        </div>
    </div>
</body>

</html>