.avatar {
    border-radius: 50%;
    border: 2px solid rgb(247, 243, 243);
}

img {
    display: block;
    max-width: 100%;
    max-inline-size: 100%;
}

.avatar-lg-size {
    width: 12rem;
    height: 12rem;
    font-size: 3rem;
}

.avatar-md-size {
    width: 8rem;
    height: 8rem;
    font-size: 2rem;
}

.avatar-sm-size {
    width: 6rem;
    height: 6rem;
    font-size: 1rem;
}

.img-size {
    width: 100%;
    height: auto;
}

.img-round {
    border-radius: 50%;
}