/* Round avatar */

.avatar {
    border-radius: 50%;
    border: 2px solid var(--light-white-color);
}

img {
    display: block;
    max-width: 100%;
    max-inline-size: 100%;
}

.avatar-lg-size {
    width: 12rem;
    height: 12rem;
    font-size: 3rem;
}

.avatar-md-size {
    width: 8rem;
    height: 8rem;
    font-size: 2rem;
}

.avatar-sm-size {
    width: 6rem;
    height: 6rem;
    font-size: 1rem;
}

.img-size {
    width: 100%;
    height: auto;
}

.img-round {
    border-radius: 50%;
}


/* square avatar */

.img-square {
    border: 1px solid var(--light-white-color);
}


/* text avatars */

.avatar-xlg {
    width: 12rem;
    height: 12rem;
    font-size: 5rem;
}

.avatar-lg {
    width: 10rem;
    height: 10rem;
    font-size: 4rem;
}

.avatar-md {
    width: 8rem;
    height: 8rem;
    font-size: 3rem;
}

.avatar-sm {
    width: 6rem;
    height: 6rem;
    font-size: 2rem;
}

.avatar-xsm {
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
}

.avatar-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    font-weight: 600;
    color: var(--black-color);
}