.simple-toast-body {
    padding: 1rem;
    background-color: var(--secondary-hover);
    border-radius: 5px;
    color: var(--black-color);
    font-size: 1rem;
    padding-right: 3rem;
}

.toast-success {
    background-color: var(--ligth-green-color);
}

.toast-error {
    background-color: var(--ligth-red-color)
}

.toast-warning {
    background-color: var(--light-yellow-color)
}

.simple-toast-body {
    font-family: "Times New Roman", Times, serif;
}


/* example of toast */

.toast-body {
    padding: 15px 10px;
    background-color: var(--light-black-color);
    color: var(--white-color);
    border-radius: 5px;
}

.toast-close-btn {
    background: transparent url("./../../Assets/images/cancel.png") center/0.9em auto no-repeat;
    border: 1px solid transparent;
    position: absolute;
    opacity: 0.5;
    cursor: pointer;
    padding: 0.9rem;
    margin-left: 1rem;
    margin-top: -1rem;
    color: var(--black-color);
    border-radius: 50%;
}

.toast-close-btn:hover {
    background-color: var(--light-white-color);
}

.retry-btn {
    color: var(--purple-color);
    font-weight: 600;
    background-color: var(--light-black-color);
    border-style: none;
    cursor: pointer;
    margin: 0 1rem;
}

.icon-toast {
    border-radius: 50%;
    cursor: pointer;
    padding: 0.3rem;
}

.icon-toast:hover {
    background-color: var(--light-gray);
}