.simple-toast-body {
    padding: 1rem;
    background-color: var(--secondary-hover);
    border-radius: 5px;
    color: black;
    font-size: 1rem;
    padding-right: 3rem;
}

.toast-success {
    background-color: var(--ligth-green-color);
}

.toast-error {
    background-color: var(--ligth-red-color)
}

.toast-warning {
    background-color: var(--light-yellow-color)
}

.simple-toast-body {
    font-family: "Times New Roman", Times, serif;
}


/* example of toast */

.toast-body {
    padding: 15px 10px;
    background-color: rgb(46, 43, 43);
    color: white;
    border-radius: 5px;
    box-shadow: 10px 12px 8px rgba(135, 26, 26, 0.25);
}

.toast-close-btn {
    background: transparent url("./../../Assets/images/cancel.png") center/0.9em auto no-repeat;
    border: 1px solid transparent;
    position: absolute;
    opacity: 0.5;
    cursor: pointer;
    padding: 0.9rem;
    margin-left: 1rem;
    margin-top: -1rem;
    color: black;
    border-radius: 50%;
}

.toast-close-btn:hover {
    background-color: rgb(216, 212, 212);
}

.retry-btn {
    color: rgb(148, 92, 204);
    font-weight: 600;
    background-color: rgb(46, 43, 43);
    border-style: none;
    cursor: pointer;
    margin: 0 1rem;
}

.retry:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
}

.icon-toast {
    border-radius: 50%;
    cursor: pointer;
    padding: 0.3rem;
}

.icon-toast:hover {
    background-color: rgb(77, 74, 74);
}