.badge-type {
    position: relative;
    font-size: 1.25rem;
    font-weight: 400;
    color: #000000;
}

.badge-count {
    position: absolute;
    font-weight: bolder;
    color: #ffffff;
    background-color: #5858e4;
    border-radius: 2rem;
}

.badge-btn {
    position: relative;
    font-size: 0.8rem;
    font-weight: bolder;
    border: none;
    border-radius: 0.2rem;
}


/* badge1:Text with a badge */

.txt-bdg {
    padding: 0.3rem 0.5rem;
    font-size: 0.65rem;
    margin-top: -0.7rem;
    margin-left: -0.5rem;
}


/* badge1:end */


/* badge2:Text with large badge */

.txt-lr-bdg {
    padding: 0 0.5rem;
    font-size: 1.5rem;
    margin-top: -1.25rem;
    margin-left: -1rem;
}


/* badge2:end */


/* badge3:Button with a badge on the left */

.btn-left-bdg {
    background-color: #5858e4;
    padding: 0.5rem 1.25rem;
    color: #ffffff;
    position: relative;
}

.btn-bdg {
    padding: 0.2rem 0.6rem;
    font-size: 0.9rem;
    background-color: #f70fb1;
    margin-top: -0.9rem;
    margin-left: -5.5rem;
    border-radius: 2rem;
    position: absolute;
    color: #ffffff;
}


/* badge3:end */


/* badge4:Button toggles badge visibility */

.btn-hide-bdg {
    background-color: #f1ee1e;
    padding: 0.625rem 0.9rem;
    color: #000000;
}

.hide-bdg {
    padding: 0.2rem 0.6rem;
    font-size: 0.85rem;
    margin-top: -0.75rem;
    margin-left: -0.75rem;
}

.hide {
    display: none;
}


/* badge4:end */


/* badge5:Icon with a badg */

.icon-badge {
    position: relative;
}

.home-icon {
    font-size: 2rem;
}

.icon-bdg-cnt {
    padding: 0.4rem 0.3rem;
    font-size: 0.8rem;
    background-color: #f02828;
    margin-top: -0.9rem;
    margin-left: -0.625rem;
}


/* badge5:end */


/* Badge on Avatar */

.badge-parent {
    position: relative;
}

.round {
    border-radius: 50%;
    display: inline-block;
    height: 1rem;
    width: 1rem;
}

.badge-child {
    position: absolute;
    top: 4.2rem;
    left: 4.5rem;
}

.green-circle {
    padding: 0.7rem;
    border: 2px;
    box-shadow: 0px 0px 0px 5px #f0f9ff;
    background-color: #22c55e;
}

.fa-moon {
    font-size: 1rem;
    background-color: #f0f9ff;
    box-shadow: 0px 0px 0px 5px #f0f9ff;
    color: #f59e0b;
}

.fa-mobile-alt {
    font-size: 1.5rem;
    border: 2px;
    border-radius: 0.2rem;
    background-color: #f0f9ff;
    box-shadow: 0px 0px 0px 3px #f0f9ff;
    color: #22c55e;
}

.dnd-icon {
    border-radius: 50%;
    display: inline-block;
    height: 1.7rem;
    width: 1.7rem;
    background-color: #f0f9ff;
    box-shadow: 0px 0px 0px 2px #f0f9ff;
}