<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css" />
    <link rel="stylesheet" href="/documentation/docs.css" />
    <link rel="stylesheet" href="./simplified-grid.css" />
    <link rel="stylesheet" href="/documentation/root.css" />
    <title>Grid component | Sakhi UI</title>
</head>

<body>
    <div class="docs-container" id="nav-bar">
        <nav>
            <div class="home-lt-nav">
                <a href="./../../index.html" class="title">Sakhi</a>
                <span class="small-title">a friendly tool to your designs...</span>
            </div>
            <ul class="home-rt-nav">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/documentation//docs.html">Docs</a></li>
                <li>
                    <a href="https://github.com/Manju-sree/SAKHI_UI"><i
                                class="fab fa-github github-icon-sz"></i></a>
                </li>
            </ul>
        </nav>
        <!-- list of components -->
        <div class="grid-col2">
            <aside>
                <div class="sakhi-sidebar">
                    <div>
                        <h2 class="side-title">Components</h2>
                    </div>
                    <ul class="sidebar-link">
                        <li class="sidebar-link-item">
                            <a href="./../Typography/Typography.html">Typography</a>
                        </li>
                        <li class="sidebar-link-item">
                            <a href="./../Avatar/avatar.html">Avatar</a>
                        </li>
                        <li class="sidebar-link-item">
                            <a href="./../Alert/alert.html">Alert</a>
                        </li>
                        <li class="sidebar-link-item">
                            <a href="./../Badge/badge.html">Badge</a>
                        </li>
                        <li class="sidebar-link-item">
                            <a href="./../Button/button.html">Button</a>
                        </li>
                        <li class="sidebar-link-item">
                            <a href="./../Card/card.html">Card</a>
                        </li>
                        <li class="sidebar-link-item">
                            <a href="./../Image/image.html">Image</a>
                        </li>
                        <li class="sidebar-link-item">
                            <a href="./../Input/input.html">Input</a>
                        </li>
                        <li class="sidebar-link-item">
                            <a href="./../Lists/lists.html">Lists</a>
                        </li>
                        <li class="sidebar-link-item">
                            <a href="./../Toast/toast.html">Toast</a>
                        </li>
                        <li class="sidebar-link-item">
                            <a href="./../Navigation/navigation.html">Navigation</a>
                        </li>
                        <li class="sidebar-link-item">
                            <a href="./../Slider/slider.html">Slider</a>
                        </li>
                        <li class="sidebar-link-item">
                            <a href="./../Rating/rating.html">Rating</a>
                        </li>
                        <li class="sidebar-link-item">
                            <a href="./../Modal/modal.html">Modal</a>
                        </li>
                        <li class="sidebar-link-item">
                            <a href="./../Grid-Simplified/simplified-grid.html">Simplified
                                    Grid</a>
                        </li>
                    </ul>
                </div>
            </aside>

            <main>
                <!--Grid component start from docs -->
                <div class="sakhi-component-container">
                    <h2 class="component-heading">Grid</h2>
                    <p class="component-desc">
                        Grids are 2D(two-dimensional), it's represented in rows and columns.It's a powerful property which controls complex layouts on screen in a magically way and which is maintainable and easy to use.
                    </p>
                    <h3 class="component-desc">Grid-2: two items in a grid</h3>
                    <div class="component-container">
                        <div class="container">
                            <div class="common-grid-container two-col-grid secondary-color-bg">
                                <div class="child-grids primary-color-bg">Grid 1</div>
                                <div class="child-grids primary-color-bg">Grid 2</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <iframe src="https://www.thiscodeworks.com/embed/623f07319f69df00152301bb" style="width: 100%; height: 190px;" frameborder="0"></iframe>
                    </div>
                    <h3 class="component-desc">Grid-3: three items</h3>
                    <div class="component-container">
                        <div class="container">
                            <div class="common-grid-container three-col-grid secondary-color-bg">
                                <div class=" child-grids primary-color-bg">Grid 1</div>
                                <div class="child-grids primary-color-bg">Grid 2</div>
                                <div class="child-grids primary-color-bg">Grid 3</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <iframe src="https://www.thiscodeworks.com/embed/623f07c49f69df00152301bd" style="width: 100%; height: 203px;" frameborder="0"></iframe>
                    </div>
                    <h3 class="component-desc">Responsive Grids</h3>
                    <div class="component-container">
                        <div class="container">
                            <div class="multi-col-grid">
                                <div><img class="img-responsive" src="./../../Assets/images/img_responsive.jpg" alt="responsive-image">
                                    <img class="img-responsive" src="./../../Assets/images/img_responsive.jpg" alt="responsive-image">
                                    <img class="img-responsive" src="./../../Assets/images/img_responsive.jpg" alt="responsive-image">
                                    <img class="img-responsive" src="./../../Assets/images/img_responsive.jpg" alt="responsive-image">
                                    <img class="img-responsive" src="./../../Assets/images/img_responsive.jpg" alt="responsive-image">
                                    <img class="img-responsive" src="./../../Assets/images/img_responsive.jpg" alt="responsive-image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <iframe src="https://www.thiscodeworks.com/embed/623f11449f69df00152301c7" style="width: 100%; height: 177px;" frameborder="0"></iframe>
                    </div>
                </div>
                <a href="#nav-bar" class="btn-float btn-float-fixed btn-float-size">
                    <i class="fas fa-arrow-up"> </i>
                </a>
                <footer class="footer ">
                    <a href="/Components/Modal/modal.html " class="link ">Modal</a>
                    <a href="/Components/Typography/Typography.html " class="link ">Typography</a>
                </footer>
            </main>
        </div>
    </div>
</body>

</html>