.alert-box,
.alert-box-outline {
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
    width: 30rem;
    font-size: 1rem;
}

.alert-box {
    position: relative;
}

.primary-outline,
.primary,
.secondary,
.secondary-outline {
    color: black;
}

.primary {
    background-color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
}

.success,
.success-outline {
    color: var(--success-color);
}

.success {
    background-color: var(--ligth-green-color);
}

.Error-outline,
.Error {
    color: var(--error-text-color);
}

.Error {
    background-color: var(--error-color);
}

.Warning,
.Warning-outline {
    color: var( --warning-text-color);
}

.Warning {
    background-color: var(--warning-color);
}


/* outline alerts */

.alert-box-outline {
    border: 2px solid;
}

.primary-outline,
.secondary-outline,
.success-outline,
.Warning-outline,
.Error-outline {
    background-color: white;
}