.alert-box,
.alert-box-outline {
    border-radius: 5px;
    padding: 0.8rem;
    margin: 0.5rem 0;
    width: 25rem;
}

.fa-times-circle {
    margin-left: 9.9rem;
    align-items: center;
}

.mr-lt {
    margin-left: 1.5rem;
}

.alert-box {
    text-align: start;
}

.primary-outline,
.primary,
.secondary,
.secondary-outline {
    color: var(--black-color);
}

.primary {
    background-color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
}

.success,
.success-outline {
    color: var(--success-color);
}

.success {
    background-color: var(--ligth-green-color);
}

.Error-outline,
.Error {
    color: var(--error-text-color);
}

.Error {
    background-color: var(--error-color);
}

.Warning,
.Warning-outline {
    color: var( --warning-text-color);
}

.Warning {
    background-color: var(--warning-color);
}


/* outline alerts */

.alert-box-outline {
    border: 2px solid;
}

.primary-outline,
.secondary-outline,
.success-outline,
.Warning-outline,
.Error-outline {
    background-color: var(--white-color);
}