.alert-box,
.alert-box-outline {
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
    position: relative;
    width: 50rem;
    font-size: 1.5rem;
    font-weight: bolder;
}

.primary-outline,
.primary {
    color: #29438b;
}

.primary {
    background-color: #b3f196;
}

.secondary,
.secondary-outline {
    color: #696b79;
}

.secondary {
    background-color: #fda0e1;
}

.success,
.success-outline {
    color: #1b7052;
}

.success {
    background-color: #84f1c9;
}

.Error-outline,
.Error {
    color: #f1152b;
}

.Error {
    background-color: #f39d9d;
}

.Warning,
.Warning-outline {
    color: #ff9204;
}

.Warning {
    background-color: #f8c885;
}


/* outline alerts */

.alert-box-outline {
    border: 2px solid;
}

.primary-outline,
.secondary-outline,
.success-outline,
.Warning-outline,
.Error-outline {
    background-color: white;
}