@import './sidebar.css';
@import'./../CSS/navi.css';
@import'./../Components/component.css';
@import'./../index.css';
.sakhi-component-container {
    margin: auto 5rem;
}

.component-heading {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.component-desc {
    margin-top: 2rem;
    display: inline-block;
    font-weight: 600;
    line-height: 1.7rem;
    font-size: larger;
}

.component-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 0.5rem 0 2rem 0;
    border: 0.06rem solid var(--primary-hover);
    align-items: baseline;
    border-radius: 0.3rem;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.flex-col-items {
    display: flex;
    flex-direction: column;
}

.flex-row-items {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    justify-content: space-evenly;
    justify-items: center;
}


/* grid area */

.docs-container {
    display: grid;
    height: 100vh;
    grid-gap: 1.25rem;
    grid-template-columns: 1fr;
    margin-bottom: 1.5rem;
    grid-template-areas: "nav nav nav nav""aside  main   main  ...""aside  main   main  ...""aside  main   main  ...""aside  main   main  ...";
}

nav {
    grid-area: nav;
}