@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #64d131;
    --primary-hover: #0c2f31;
    --secondary-color: #f368c9;
    --dark-secondary-color: #f737bd;
    --secondary-hover: #E5E7EB;
    --gray-color: #808080;
    --light-gray: #4b5563;
    --dark-gray: #2e3333;
    --success-color: #1b7052;
    --warning-color: #f8e964;
    --dark-yellow-color: #f5dd08;
    --warning-text-color: #ff9204;
    --error-color: #f57a7a;
    --error-text-color: #f1152b;
    --ligth-green-color: #70f764;
    --dark-green-color: #22c55e;
    --ligth-red-color: #ec5752;
    --light-yellow-color: #f8bb64;
    --pink-color: #ff3f6c;
    --light-pink-color: #ff6589;
    --lightest-pink-color: #fcc0ce;
    --dark-pink-color: #e63961;
    --white-color: #fff;
    --pinkish-white-color: #ece3e9;
    --light-white-color: #f7f5f5;
    --black-color: #000;
    --blue-color: #459bec;
    --light-blue-color: #8cb3d8;
    --light-black-color: rgb(46, 43, 43);
    --purple-color: rgb(148, 92, 204);
}

.white-color-bg {
    background-color: var( --light-white-color);
}

.ligth-red-bg {
    background-color: var(--ligth-red-color);
}

.primary-color {
    color: var(--primary-color);
}

.primary-color-bg {
    background-color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.secondary-color-bg {
    background-color: var(--secondary-color);
}

.pink-color {
    color: var(--pink-color);
}

.yellow-color {
    color: var(--dark-yellow-color);
}

.light-gray {
    color: var(--light-gray);
}

html {
    scroll-behavior: smooth;
    overflow-y: auto;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Noto Sans', sans-serif;
}

.home-container {
    width: 80%;
    min-height: 80vh;
    margin: auto;
}

@media screen and (max-width: 1240px) {
    .home-container {
        width: 90%;
        margin: auto;
    }
    .sakhi-sidebar {
        margin-right: 2rem;
        overflow-y: hidden;
    }
    .sakhi-component-container {
        margin-left: 1.5rem;
    }
}

@media screen and (max-width: 1055px) {
    .sakhi-sidebar {
        margin-right: 2rem;
    }
}

@media screen and (max-width: 990px) {
    .home-container {
        width: 80%;
        margin: auto;
    }
    .sakhi-component-container {
        margin-left: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .home-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}


/* font size  */

@media only screen and (max-width: 990px) {
    html {
        font-size: 55%;
    }
    .sakhi-sidebar {
        overflow-y: hidden;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 45%;
    }
    .sakhi-sidebar {
        overflow-y: hidden;
    }
}

@media only screen and (max-width: 640px) {
    html {
        font-size: 35%;
    }
    .sakhi-sidebar {
        overflow-y: hidden;
    }
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 25%;
    }
    .sakhi-sidebar {
        overflow-y: hidden;
    }
    iframe {
        display: none;
    }
    .docs-container {
        grid-template-areas: 'nav' 'main';
        bottom: 0rem;
    }
}

@media only screen and (max-width: 414px) {
    html {
        font-size: 35%;
    }
    .sakhi-sidebar {
        display: none;
    }
    .sakhi-component-container,
    .footer {
        margin-left: -6rem;
        margin-bottom: 0rem;
    }
    .docs-container {
        grid-template-areas: 'nav' 'main';
        bottom: 0rem;
    }
}

@media only screen and (max-width: 390px) {
    html {
        font-size: 35%;
    }
    .sakhi-sidebar {
        display: none;
    }
    .sakhi-component-container,
    .footer {
        margin-left: -6rem;
    }
    .docs-container {
        grid-template-areas: 'nav' 'main';
        bottom: 0rem;
    }
}