.sakhi-sidebar {
    overflow-y: auto;
    position: fixed;
    margin-left: 0rem;
    top: 7rem;
    padding: 1rem;
    height: 80vh;
    width: 20%;
}

.side-title {
    margin-top: 1rem;
    padding-left: 2rem;
}

.sidebar-link {
    margin-top: 1rem;
    list-style: none;
}

.sidebar-link-item:hover {
    color: var(--primary-color);
}

.sidebar-link-item a {
    text-decoration: none;
    display: block;
    color: inherit;
    font-size: larger;
    padding: 0.6rem 3rem;
    font-weight: 400;
}